@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --text: #dff2fc;
  --background: #031720;
  --primary: #37afeb;
  --secondary: #05202e;
  --accent: #17a2e8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #00000000;
}

::-webkit-scrollbar-track {
  background-color: #00000000;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
}

body {
  background-color: var(--background);
  color: var(--text);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px 20px;
  z-index: 99;
}

.logo h1 {
  font-size: 32px;
}

span {
  color: var(--accent);
}

ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  text-decoration: none;
  list-style: none;
}

li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 500;
  transition: 0.6s;
  color: var(--text);
}

li a:hover {
  color: var(--accent);
}

.home {
  padding: 120px 80px 60px;
  letter-spacing: 0.3px;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.cv {
  background-color: var(--text);
  color: var(--background);
}

.cv:hover {
  color: var(--primary) !important;
  border-color: var(--primary) !important;
}

button {
  padding: 12px 16px;
  margin-right: 16px;
  border-radius: 5px;
  background-color: var(--background);
  color: var(--text);
  font-weight: 500;
  border: solid 1px var(--text);
  box-shadow: 0 0 20px 0 var(--secondary);
  transition: 0.4s;
  cursor: pointer;
}

button:hover {
  background-color: var(--text);
  color: var(--background);
}

.home h1,
.project h1,
.skill h1,
.contact h1 {
  margin-bottom: 50px;
  text-align: center;
}

b {
  font-weight: 600;
}

h1 {
  font-size: 26px;
}
.home h1 {
  font-size: 28px;
}

.project .card h4 {
  font-weight: 600;
  margin-top: 10px;
}
.skill .card h4 {
  font-weight: 500;
  margin-top: 10px;
}

.card p {
  color: #cbdde6;
  margin-top: -10px;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 80px;
}

.hamburger {
  display: none;
}

.menu {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-bottom: 10px;
}

.menu li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
  background-color: #f1f1f1;
  border-radius: 4px;
}

.profile .image img {
  width: 200px;
  margin-right: 50px;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin: 0 100px;
}

.card {
  border-radius: 10px;
  border: 2px solid var(--secondary);
  background-color: var(--background);
  width: 250px;
  height: 300px;
  box-shadow: 0 0 20px 0 var(--secondary);
  transition: 0.3s;
  padding: 100px;
}

.skill .card {
  border-radius: 10px;
  border: 2px solid var(--secondary);
  background-color: var(--background);
  width: 250px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px 0 var(--secondary);
  transition: 0.3s;
}

.skill .card h2 {
  font-size: 20px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.2);
}

.card img {
  max-height: 150px;
  border-radius: 5px 5px 0 0;
}

.contact .card img {
  max-width: 100px;
  margin: 40px 0;
}

.contact .cards {
  justify-content: center;
  gap: 20px;
}

.contact .card h4 {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: white;
}

.email {
  margin: 50px 0 !important;
}

/* Add some padding inside the card container */
.card,
.card h2,
.card p {
  text-align: center;
  padding: 12px 16px;
}

.skill {
  margin-top: 100px;
}

/* .home, .education, .skill, .contact {
    min-height: 100vh;
} */

.contact h1 {
  margin-top: 100px;
}

.project {
  padding: 80px 0 20px;
}
.skill {
  padding: 80px 0;
}

.project .card {
  width: 20rem;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

svg {
  fill: var(--text);
  padding-top: 10px;
  width: 80px;
}

footer {
  background-color: var(--secondary);
  padding: 40px 0;
  text-align: center;
  margin-top: 3rem;
}

.love {
  color: var(--text);
  font-weight: 500;
}

.love:hover {
  color: palevioletred;
  cursor: pointer;
}

.footname {
  font-weight: 600;
}

.footext {
  font-weight: 500;
}

@media (max-width: 768px) {
  nav {
    padding: 20px;
    justify-content: space-between;
    width: 83%;
  }

  .logo h1 {
    font-size: 24px;
  }

  ul {
    display: none; /* Hide the list by default */
  }

  .hamburger {
    display: block; /* Show the hamburger icon */
    cursor: pointer;
  }

  .hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: var(--text);
    margin: 5px 0;
    transition: 0.4s;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  .menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #f1f1f1;
    padding: 10px;
  }

  .menu li {
    margin-bottom: 20px;
  }

  .menu li a {
    border-radius: 0;
    background-color: transparent;
    transition: background-color 0.2s;
  }

  .menu li a:hover {
    background-color: #dcdcdc;
  }

  .menu.active {
    display: block;
  }

  .home {
    padding: 80px 40px 40px;
    flex-direction: column;
    text-align: center;
  }

  .home p {
    text-align: justify;
  }

  .home h1 {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .cv {
    margin-top: 10px;
    padding: 12px 54px;
  }
  .profile {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .profile .image img {
    width: 150px;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .cards {
    margin: 0 20px;
    flex-direction: column;
    align-items: center;
  }

  .skill .card {
    height: auto;
  }
}
